.centrar{
    text-align: center;
}
table{
    margin: auto;
    
}

.body {
    margin: 20px;
    background-color: red;
}

.arriba {

    height: 250px;
    background-color: rgb(255, 220, 233);


}

.estiloformulario {
    border: 1px solid rgb(255, 255, 255);

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.abajo {

    background-color: rgb(255, 187, 213);
    display: flex;
    justify-content: center;
    align-items: center;


}
